body {
  margin: 0;
  font-family: 'Fira Code', monospace; /* Ustawienie czcionki Fira Code dla całego body */
  background-color: #f7f7f7; /* Tło strony */
  display: flex;
}
.sidebar {
  width: 200px;
  background-color: #002233; /* Kolor zbliżony do ciemnego tła na ibob.bg */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  height: 100vh; /* Pełna wysokość ekranu */
}
.sidebar .top-section {
  /* Górna część może zawierać treści, które powinny być na górze */
}
.sidebar .bottom-section {
  margin-bottom: 20px; /* Trochę miejsca na dole (ok. 1 cm) */
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
.content {
  margin-left: 220px;
  padding: 20px;
  color: #333; /* Ciemny kolor tekstu */
  flex: 1;
}

/* Responsywność */
@media (max-width: 800px) {
  .sidebar {
    width: 100%; /* Sidebar zajmuje pełną szerokość ekranu */
    height: auto; /* Automatyczna wysokość */
    position: relative;
  }
  .content {
    margin-left: 0; /* Brak marginesu z lewej strony */
    padding-top: 20px; /* Dodanie odstępu na górze */
  }
  body {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .sidebar {
    padding: 10px; /* Zmniejszenie paddingu na urządzeniach mobilnych */
  }
}

.footer {
  color: #333; /* Ciemny kolor tekstu stopki */
  text-align: center;
  padding: 10px; /* Odstęp wewnętrzny stopki */
  font-size: 12px; /* Mniejsza czcionka */
  width: 100%; /* Pełna szerokość stopki */

}

/* css/style.css */
.responsive-img {
  max-width: 100%;
  height: auto;
}


